#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20em);
    padding: 1.2em 10em;
}

.header__title {
    font-weight: bold;
    font-size: 1.5em;
    color: #AE9460;
}

/* Main */
.main {
    flex: 1;
    width: 100%;
}

.main__background {
    background: #E0E5EB;
    position: absolute;
    z-index: -1;
    height: 80vh;
    width: 40vw;
}

.main__section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: calc(100% - 20em);
    padding: 1.2em 10em;
    align-items: center;
}

.main__pictures {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4em;
    width: 100%;
    padding: 1.2em 0;
}

.picture-alignment {
    width: 20em;
    height: 35em;
}

.picture-alignment__picture {
    object-fit: cover;
    height: 70%;
    width: 100%;
}

.picture-alignment__empty {
    height: 30%;
    width: 100%;
}

/* 2nd main section */
.main__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 4em;
    text-transform: uppercase;
}

.info__general {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 30%;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.5em;
    box-sizing: content-box;
}

.info__general__second {
    margin: 1em 0;
}

.info__general__second span {
    text-decoration: solid underline 0.15em;
}

.fab {
    font-size: 1.5em;
    margin-right: 1em;
}

#info-title {
    color: #AE9460;
    text-align: right; 
    font-weight: bold;
    font-size: 4em;
}


/* Footer */
.footer {
    background: #333333;
    color: white;
    width: 100%;
    padding: 4em 0;
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.footer p {
    width: 80%;
    text-align: center;
}
